# TEMP FOR LOCAL STAGING, UNTIL I COME UP WITH BETTER PHP -> HTML LOADING
# TEMP -- I COMMENTED OUT THE suPHP_ConfigPath

RewriteEngine On
# RewriteRule    ^(.+)\.html$    $1.php    [NC,L]

# Use a local configuration for PHP to allow ‘exec’ to be used (for image processing)
# --- PAY ATTENTION TO PATH; DIFFERENT BETWEEN STAGING AND PUBLIC SITE
# suPHP_ConfigPath /home/ichgof/public_html

# Set a header to help Internet Explorer know this is a modern site. Done here instead of a meta tag, to avoid w3c validation warnings
Header set X-UA-Compatible "IE=edge,chrome=1"

# For the public website, this will prevent Google from indexing our private “.php” files
<FilesMatch "\.php$">
Header set X-Robots-Tag "noindex"
</FilesMatch>

# For staging site, prevent ALL Google indexing
# Header set X-Robots-Tag "noindex"

# Don’t let people peek in the directories
options -Indexes

# Serve jpeg-2000 correctly (limited browser suport though)
AddType image/jpeg2000 .jp2

# Shortcuts

Redirect Permanent /payment  http://tomorrowyouthrep.org/payment.html
Redirect Permanent /Payment  http://tomorrowyouthrep.org/payment.html
Redirect Permanent /pay.html http://tomorrowyouthrep.org/payment.html


Redirect Permanent /pay  http://tomorrowyouthrep.org/payment.html
Redirect Permanent /Pay  http://tomorrowyouthrep.org/payment.html

Redirect Permanent /donate  http://tomorrowyouthrep.org/donate.html
Redirect Permanent /Donate  http://tomorrowyouthrep.org/donate.html

# Fix some name changes so that old bookmarks will still work

Redirect Permanent /archive/2014-fourth-of-july-parade http://tomorrowyouthrep.org/archive/fourth-of-july-parade-2014
Redirect Permanent /archive/2013-july-4th-parade http://tomorrowyouthrep.org/archive/fourth-of-july-parade-2013


# We need to do some URL rewriting
RewriteEngine on

# Parse requests for “upcoming.html” as a request for the upcoming.php file, just so visitors don’t have to see the “.php” extension.
RewriteRule ^upcoming.html(.?)$                 /upcoming.php$1 [NE,L]

# Parse requests in the “archive” directory as the “name” parameter passed to the archive.php page. This allows us to have virtual URLs that are bookmarkable and don’t look messy.
RewriteRule ^archive/([0-9a-z-]+)$   /archive/archive.php?name=$1 [NE,L]

# If somebody requests just 'archive' without a parameter, just redirect to the main archives page
RewriteRule ^archive/$			/archives.php [R=permanent,NE,L]

# Parse requests for “index.rss” as a request for index.rss.html (built nightly) so that it has the appropriate file extension
RewriteRule ^index.rss$                 /index.rss.html [NE,L]

# For errors of various codes, handle it with the ApacheError.php file
ErrorDocument 400 /ApacheError.php
ErrorDocument 401 /ApacheError.php
ErrorDocument 402 /ApacheError.php
ErrorDocument 403 /ApacheError.php
ErrorDocument 404 /ApacheError.php
ErrorDocument 405 /ApacheError.php
ErrorDocument 406 /ApacheError.php
ErrorDocument 407 /ApacheError.php
ErrorDocument 408 /ApacheError.php
ErrorDocument 409 /ApacheError.php
ErrorDocument 410 /ApacheError.php
ErrorDocument 411 /ApacheError.php
ErrorDocument 412 /ApacheError.php
ErrorDocument 413 /ApacheError.php
ErrorDocument 414 /ApacheError.php
ErrorDocument 415 /ApacheError.php
ErrorDocument 416 /ApacheError.php
ErrorDocument 417 /ApacheError.php
ErrorDocument 500 /ApacheError.php
ErrorDocument 501 /ApacheError.php
ErrorDocument 502 /ApacheError.php
ErrorDocument 503 /ApacheError.php
ErrorDocument 504 /ApacheError.php
ErrorDocument 505 /ApacheError.php
ErrorDocument 508 /ApacheError.php


RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
